:root {
    --sidebar-width: 200px;
    --page-content-margin: 20px;
}

.page-container {
    background-color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 2em;
    display: flex;
    margin: var(--page-content-margin);
    height: calc(100vh - 2*var(--page-content-margin));
}

.content-container {
    flex-grow: 1;
    margin-left: calc(var(--sidebar-width) + var(--page-content-margin) * 2);
    border-left: var(--secondary-color) 1px solid;
}

.content {
    margin: calc(var(--page-content-margin) * 2) calc(var(--page-content-margin) * 4);
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: var(--sidebar-width);
    margin: calc(var(--page-content-margin)*2);

    position: fixed;
    top: var(--page-content-margin);
    left: var(--page-content-margin);
}

.navbar-container a {
    color: var(--grey);
    margin-top: 20px;
}

.navbar-container a img {
    width: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--page-content-margin);
}

.logo-container .logo-img {
    width: 30px;
    margin-right: 10px;
}

.logo-container .logo-label {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-link p {
    margin-left: 15px;
}