:root {
  /* Containers */
  --bg-color: #868d97;
  --primary-color: #242529;
  --secondary-color: #37373f;
  --light-color: #4B97E8;

  /* Texts */
  --grey: #a2a2a2;
  --white: #FEFFFF;
}

a {
  color: var(--white);
}

a:hover {
  scale: 1.1;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  min-width: 0;
  color: var(--white);
  font-family: 'Inter-Regular';
}