@font-face {
    font-family: 'Inter-Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Inter-Thin'), url('./assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-ExtraLight';
    font-style: normal;
    font-weight: 200;
    src: local('Inter-ExtraLight'), url('./assets/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Inter-Light'), url('./assets/fonts/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Inter-Regular'), url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Inter-Medium'), url('./assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Inter-SemiBold'), url('./assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Inter-Bold'), url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: local('Inter-ExtraBold'), url('./assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    src: local('Inter-ExtraBold'), url('./assets/fonts/Inter/Inter-Black.ttf') format('truetype');
}